{% extends "SAMuseumBundle::layout.html.twig" %}

{% block title %}
    Effectuer une reservation - {{ parent() }}
{% endblock %}

{% block projectmuseum_body %}

    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning">
            {{ message }}
        </div>
    {% endfor %}

    <h2>Reservation d'un billet</h2>

    {{ include("SAMuseumBundle:Booking:form.html.twig") }}


    <a>
        Merci de vous referez à la page <a href="{{ path('sa_museum_infos') }}">Informations utiles</a>
        pour cconnaitre les modalités de réservation.
    </p>

    <p>
        <a href="{{ path('sa_museum_homepage') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à l'accueil
        </a>



    </p>

{% endblock %}