{% extends "::layout.html.twig" %}

{% block title %}
    Commande  - {{ parent() }}
{% endblock %}

{% block body %}

    {% block projectmuseum_body %}

            date réservation: {{ booking.bookedat|date('d/m/Y') }}
                / {{ booking.Ticketsnbr}} billets



                    <h4>commande {{ booking.Id}} </h4>
                    <h5><strong>prix total de la commande:{{ booking.Rate }}€</strong></h5>
                    <p>les billets  suivants seront envoyées à {{ booking.Mail }} <br/>
                        {% for ticket in listTickets %}
                        {% dump ticket %}


                                Mr ou mme {{ ticket.Name }} {{ ticket.Forename }} <br/>
                                Age {{ticket.Age}} <br/>
                                Billet valable  pour la
                                {% if ticket.Slot == 1  %}
                                    journée
                                {% else %}
                                    demi journée
                                {% endif %}
                                du {{ ticket.Bookedday|date('d/m/Y') }} <br/>
                        {% endfor %}


                        </p>

    {% endblock %}

{% endblock %}