{% extends "::layout.html.twig" %}

{% block title %}
    Commande  - {{ parent() }}
{% endblock %}

{% block body %}

    {% block projectmuseum_body %}

        <div class="card text-white bg-secondary mb-3" style="max-width: 50rem;">
            {#<div class="card-header">date réservation: {{ booking.bookedat|date('d/m/Y') }}
                / {{ booking.Ticketnb}} billets#}

            </div>
                <div class="card-body">
                    <h4 class="card-title">commande {{ ticket.Id}} </h4>
                    <h5 class="card-title"><strong>prix total de la commande:{{ ticket.Rate }}€</strong></h5>
                        <p>
                                {% dump ticket %}

                                Mr ou mme {{ ticket.Name }} {{ ticket.Forename }} <br/>
                                Age {{ticket.Age}} <br/>
                                Billet valable  pour la
                                {% if ticket.Slot == 1  %}
                                    journée
                                {% else %}
                                    demi journée
                                {% endif %}
                                du {{ ticket.Bookedday|date('d/m/Y') }} <br/>


                        </p>
                </div>
        </div>

    {% endblock %}

{% endblock %}