{% extends "::layout.html.twig" %}

{% block title %}
    Commande  - {{ parent() }}
{% endblock %}

{% block body %}

    {% block projectmuseum_body %}

 date de paques = {{ easterDay }}
        <h3>Lundi de paque = {{ test }} </h3>
        <h3>Ascencion  =   {{ y|date('d/m/Y') }} </h3>
        <h3>Pentecote =      {{ z|date('d/m/Y') }} </h3>



    {% endblock %}
{% endblock %}

